In [18]:
import pandas as pd
import numpy as np

In [19]:
# 시도별 노무라입깃 해파리 출현에 따른 해수욕장 이용객 변화 데이터 불러오기
tourist_data = pd.read_csv('해파리융합.csv')
tourist_data

,GEOM,STD_YR,SIDO_NM,SGG_NM,BBCH_NM,LA,LO,TURIST_VARTION_VAL,JLYFS_APRT
0,POINT (128.918478 37.794867),2016,강원도,강릉시,강문,37.794867,128.918478,779,63.64
1,POINT (128.9102206 37.80345579),2016,강원도,강릉시,경포,37.803456,128.910221,-537994,63.64
2,POINT (129.0434453 37.6395086),2016,강원도,강릉시,금진,37.639509,129.043445,-770,63.64
3,POINT (128.9529874 37.7655509),2016,강원도,강릉시,남항진,37.765551,128.952987,-4308,63.64
4,POINT (129.0626627 37.605498),2016,강원도,강릉시,도직,37.605498,129.062663,-361,63.64
...,...,...,...,...,...,...,...,...,...
564,POINT (128.9945474 35.0756779),2021,부산광역시,사하구,다대포,35.075678,128.994547,-211700,38.10
565,POINT (129.0169452 35.07593117),2021,부산광역시,서구,송도,35.075931,129.016945,-768590,38.10
566,POINT (129.1185399 35.1537821),2021,부산광역시,수영구,광안리,35.153782,129.118540,-1529986,38.10
567,POINT (129.1958718 35.1764467),2021,부산광역시,해운대구,송정,35.176447,129.195872,-303918,38.10
568,POINT (129.1638525 35.1631596),2021,부산광역시,해운대구,해운대,35.163160,129.163852,-1852318,38.10

In [13]:
# 칼럼명 리스트로 보기
tourist_data_columns = tourist_data.columns.tolist()
tourist_data_columns

['GEOM',
 'STD_YR',
 'SIDO_NM',
 'SGG_NM',
 'BBCH_NM',
 'LA',
 'LO',
 'TURIST_VARTION_VAL',
 'JLYFS_APRT']

## 칼럼별 설명

| 칼럼명 | 컬럼설명 |
| --- | --- |
|  GEOM| 공간정보 |
| STD_YR| 기준년도 |
|SIDO_NM| 시도명 |
|SGG_NM| 시군구명 |
|BBCH_NM| 해수욕장명 |
|LA| 위도 |
|LO| 경도 |
|TURIST_VARTION_VAL| 관광객변화값 |
|JLYFS_APRT| 해파리출현율 |

In [20]:
# 해파리 출현 도,시 출력
tourist_data['SIDO_NM'].value_counts()

SIDO_NM
강원도      519
부산광역시     35
울산광역시      8
인천광역시      7
Name: count, dtype: int64

In [15]:
mapping_data = {
    '강원도' : '강원',
    '부산광역시' : '부산',
    '울산광역시' : '울산',
    '인천광역시' : '인천'
}

In [16]:
# 모니터링 데이터와 지역명 통일
tourist_data['SIDO_NM'] = tourist_data['SIDO_NM'].map(mapping_data)
tourist_data['SIDO_NM'].value_counts()

SIDO_NM
강원    519
부산     35
울산      8
인천      7
Name: count, dtype: int64

In [17]:
tourist_data.to_csv('시도별 노무라입깃 해파리 출현에 따른 해수욕장 이용객 변화.csv', index=False, encoding='utf-8')